{{>header}}
{{>navbar}}
<div class="p-3">
    {{#if user}}
        <div class="row">
            <div class="col-4">
            <div class="m-2 border border-3 border-primary p-5">
                User Id:{{user._id}}
            </div>
            </div>
            <div class="col-4">
            <div class="m-2 border border-3 border-primary p-5">
                User Name:{{user.name}}
            </div>
            </div>
            <div class="col-4">
            <div class="m-2 border border-3 border-primary p-5">
                User phone:{{user.phone}}
            </div>
            </div>
            <div class="col-4">
            <div class="m-2 border border-3 border-primary p-5">
                User balance:{{user.balance}}
            </div>
            </div>
            <div class="col-4">
            <div class="m-2 border border-3 border-primary p-5">
                User Status:{{user.status}}
            </div>
            <div class="m-2 border border-3 border-primary p-5">
                User transaction:{{transaction.transactiontype}}
            </div>
            </div>
{{!-- <table class="table table-bordered">
    <thead>
        <tr>
            <td>#</td>
            <td>transactionType</td>
        </tr>
        {{#unless hasGrades}}
        <tr>    
            <td colspan="3"> no transaction yet</td>
        </tr>
        {{else}}
        {{#each user.transaction}}
        <tr>
            <td>{{this._id}}</td>
            <td>{{this.transactionType}}</td>
            <td>
                <a class="btn btn-danger" href="/delGrade/{{this._id}}">delete</button>
            </td>
        </tr>
        {{/each}}
        <tr>
            <td colspan="2">total</td>
            <td>{{total}}</td>
        </tr>

        {{/unless}}
    </thead>
</table> --}}
        </div>
    {{else}}
        user not found
    {{/if}}
</div>
{{>footer}}